<template>
  <div id="vue" class="column">
    <p class="flex black">Калькулятор</p>
    <div class="column">
            <span class="span-mod">
                <h3 class="white">Стоимость полиса:</h3>
                <p class="white">{{price}}</p>
                <label class="label-flex"><p class="white">Возраст:</p>
                    <input  class="margin" v-model="age" placeholder="Введите ваш возраст">
                </label>
                <label class="label-flex">
                    <p class="white">Выберите ваш пол:</p>
                    <input class="margin" type="radio" id="one"  v-model="male" @click="genderFunc('one')">
                    <label class="label-flex" for="one">М</label>
                    <input class="margin" type="radio" id="two" v-model="female" @click="genderFunc('two')">
                    <label class="label-flex" for="two">Ж</label>
                </label>
                <label class="label-flex">
                    <a href="#" class="butt" @click="calculateFunc">Рассчитать</a>
                </label>
            </span>


      <span class="span-mod">
                <h3 class="white">Базовые программы:</h3>
                <ul>
                    <li class="list-flex" v-for="item in basePrograms">
                        <label class="label-flex">
                            <p>{{item.name}}</p>
                        </label>
                        <label class="label-flex"><p>{{item.price}}</p></label>
                    </li>
                </ul>
            </span>


      <span class="span-mod">
                <h3 class="white">Дополнительные программы:</h3>
                <p class="flex white">Стоматология (БЛОК 2)</p>
                <ul>
                    <li class="list-flex" v-for="item in dentistry">
                        <label class="label-flex">
                            <p>{{item.name}}</p>
                        </label>
                        <label class="label-flex"><p>{{item.price}}</p></label>
                    </li>
                </ul>
                <p class="flex white">Помощь на дому (БЛОК 3)</p>
                <ul>
                     <li class="list-flex" v-for="item in homeHelp">
                        <label class="label-flex">
                            <p>{{item.name}}</p>
                        </label>
                        <label class="label-flex"><p>{{item.price}}</p></label>
                    </li>
                </ul>
                <p class="flex white">Скорая помощь (БЛОК 4)</p>
                <ul>
                     <li class="list-flex" v-for="item in ambulance">
                        <label class="label-flex">
                            <p>{{item.name}}</p>
                        </label>
                        <label class="label-flex"><p>{{item.price}}</p></label>
                    </li>
                </ul>
            </span>


      <label class="button-flex"><a href="#" class="butt" >Отправить</a></label>

    </div>
  </div>
</template>

<script>



    export default {
        data: function() {
            return {
                male: true,
                female: false,
                age: 0,
                price: 0,
                basePrograms: [{name: "(20ПЭ) Амбулаторно-поликлиническое обслуживание \"ЭКОНОМ\"", price: 54000},
                    {name: "(20ПС) Амбулаторно-поликлиническое обслуживание \"СТАНДАРТ\"", price: 60000},
                    {name: "(20ПМ) Амбулаторно-поликлиническое обслуживание \"МАКСИМУМ\"", price: 66000},
                    {name: "(ДПМ) Амбулаторно-поликлиническое обслуживание \"МАКСИМУМ\" с диспансеризацией", price: 76800},
                    {name: "(20П06) Амбулаторно-поликлиническое обслуживание по программе \"VIP - клиент\"", price: 96600}
                    ],
                dentistry: [{name: "(20СТ1) Стоматологическая помощь (без протезирования) \"ЭКОНОМ\"", price: '00000'},
                    {name: "(20СТ2) Стоматологическая помощь (без протезирования) \"СТАНДАРТ\"", price: '00000'},
                    {name: "(20СТ3) Стоматологическая помощь без протезирования \"МАКСИМУМ\"", price: '00000'},
                    {name: "(20СТ4) Стоматологическая помощь без протезирования \"VIP\"", price: '00000'}
                    ],
                homeHelp: [{name: "(20ПНД) Помощь на дому", price: '00000'}],
                ambulance: [{name: "(20СМП1) Скорая медицинская помощь (4 выезда)", price: '00000'},
                    {name: "(20СМП2) Скорая медицинская помощь в радиусе 20 км от МКАД (4 выезда)", price: '00000'}
                    ]
            };
        },

        methods: {
            calculateFunc(){
                switch (true) {
                    case this.age >= 0 && this.age < 18: this.price = 10000;
                        break;
                    case this.age >= 18 && this.age < 65: this.price = 20000;
                        break;
                    case this.age >= 65 && this.age <= 120: this.price = 15000;
                        break;
                    default: alert("Неправильно введён возраст");
                        break;
                }
            },

            genderFunc(a) {
                switch(a){
                    case 'one':this.male = true;
                    this.female = false;
                    break;
                    case 'two': this.female = true;
                    this.male = false;
                    break;
                }
            }
        }
    }
</script>

<style>
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .span-mod{
    width: 1000px;	height: auto;
    background: darkcyan;
    outline: 2px darkcyan;
    border: 3px solid #fff;
  }
  .white{
    color: white;
    margin: 2%;
  }
  .flex{
    display: flex;
  }
  .black{
    color: black;
  }

  .margin{
    margin: 2%;
  }
  .label-flex{
    display: inline-flex;
    margin: 2%;
    justify-content: space-between;
  }

  .list-flex{
    display: flex;
    color: black;
    width: 700px;	height: auto;
    background: white;
    outline: 2px white;
    border: 3px solid #fff;
    margin: 2%;
    flex-direction: row;
    justify-content: space-between;
  }
  .button-flex{
    display: flex;
    flex-direction: row-reverse;
  }

  a.butt {
    text-align:-webkit-left;
    font-size:10px;
    text-decoration: none;
    padding: 3px 10px;
    background: grey;
    display:block;
    width:60px;
    margin: 20px auto;
    color: rgba(255,255,255);
  }

  a.butt:hover, a.butt.hover {
    background:dimgrey;
  }
  a.butt:active, a.butt.active {
    background: #d0d3d6;
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
    box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
  }
</style>

